<html>
<body>
<pre>
<h1>µVision Build Log</h1>
<h2>Project:</h2>
E:\Source_Code\Github\Code_Library\Template\MDK-ARM\Template.uvproj
Project File Date:  05/07/2021

<h2>Output:</h2>
Build target 'Template'
compiling motor_system.c...
compiling robo_base.c...
linking...
Program Size: Code=7746 RO-data=458 RW-data=20 ZI-data=1588  
FromELF: creating hex file...
"Template\Template.axf" - 0 Error(s), 0 Warning(s).
).
-data=1588  
FromELF: creating hex file...
"Template\Template.axf" - 0 Error(s), 1 Warning(s).
inished: 1 information, 0 warning and 1 error messages.
"Template\Template.axf" - 1 Error(s), 1 Warning(s).
Target not created
r:  #20: identifier "P_Speed" is undefined
                 if(WATCHDOG_ENABLE) Feed_WatchDog(&P_Speed->Protect);
..\Src\robo_base.c(110): error:  #65: expected a ";"
  {
..\Src\robo_base.c(229): warning: At end of source:  #12-D: parsing restarts here after previous syntax error
..\Src\robo_base.c(229): error: At end of source:  #67: expected a "}"
..\Src\robo_base.c: 2 warnings, 4 errors
"Template\Template.axf" - 4 Error(s), 2 Warning(s).
Target not created
